.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: mediumpurple;
}

.footer {
    font-weight: bold;
    color: paleturquoise;
}
